@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bluish-grey: #95AFBA;
  --color-bluish-purple: #323F73;
  --color-light-ash: #EDEFF5;
  --color-dark: #3C3C3C;
  --color-orange: #E95829;
  --color-yellow: #FFD888;
}


body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

